{% extends '../layout.html' %}

{% block title %}Баптаулар{% endblock title %}


{% block account_layout %}
<div class="w-full md:max-w-lg grid gap-8">
    <div class="grid gap-4">
        <div class="grid pb-4 border-b border-border-primary">
            <h2 class="text-xl font-black">Парольді өзгерту</h2>
            <span class="text-muted text-sm">Қауіпсіздік үшін парольді өзгерту формасы</span>
        </div>

        <form method="post" class="space-y-4">
            {% csrf_token %}
            <input type="hidden" name="change_password" value="1">

            <!-- old_password field -->
            <div class="relative">
                <label for="old_password" class="block mb-2 text-sm font-medium">
                    Қазіргі пароль
                </label>
                <input 
                    type="password" 
                    id="old_password"
                    name="old_password"
                    class="block w-full py-3 px-5 bg-secondary border border-border-primary text-foreground text-sm rounded-lg focus:ring-primary-ring focus:border-primary"
                    required 
                />
                {% if form.old_password.errors %}
                    {% for error in form.old_password.errors %}
                        <p class="text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <!-- new_password1 field -->
            <div class="relative">
                <label for="new_password1" class="block mb-2 text-sm font-medium">
                    Жаңа пароль
                </label>
                <input 
                    type="password" 
                    id="new_password1"
                    name="new_password1"
                    class="block w-full py-3 px-5 bg-secondary border border-border-primary text-foreground text-sm rounded-lg focus:ring-primary-ring focus:border-primary"
                    required 
                />
                {% if form.new_password1.errors %}
                    {% for error in form.new_password1.errors %}
                        <p class="text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <!-- new_password2 field -->
            <div class="relative">
                <label for="new_password2" class="block mb-2 text-sm font-medium">
                    Жаңа пароль
                </label>
                <input 
                    type="password" 
                    id="new_password2"
                    name="new_password2"
                    class="block w-full py-3 px-5 bg-secondary border border-border-primary text-foreground text-sm rounded-lg focus:ring-primary-ring focus:border-primary"
                    required 
                />
                {% if form.new_password2.errors %}
                    {% for error in form.new_password2.errors %}
                        <p class="text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <!-- submit -->
            <button 
                type="submit" 
                class="cursor-pointer focus:outline-none transition-all text-sm text-white bg-primary hover:bg-primary-hover focus:ring-3 focus:ring-primary-ring font-medium rounded-lg px-5 py-3"
            >
                Құпиясөзді өзгерту
            </button>
        </form>
    </div>

    <!-- Delete account -->
    <div class="grid gap-4">
        <div class="grid pb-4 border-b border-border-primary">
            <h2 class="text-xl font-black">Аккаунтты жою</h2>
            <span class="text-muted text-sm">Жойылған аккаунтты кері қайтару мүмкін болмайды</span>
        </div>

        <form 
            method="post" 
            onsubmit="return confirm('Аккаунтты расымен жойғыңыз келе ме?')"
            class="space-y-4"    
        >
            {% csrf_token %}
            <input type="hidden" name="delete_account" value="1">
            <button 
                type="submit" 
                class="w-full md:w-auto focus:outline-none text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-3"
            >
                Аккаунтты жою
            </button>
        </form>
    </div>
</div>
{% endblock account_layout %}