{% extends '../layout.html' %}
{% load static %}

{% block platform_layout %}
<div class="grid md:flex items-start gap-8 py-6 px-4">
    <ul class="max-w-64 w-full hidden md:grid gap-1">
        <li>
            <a 
                href="{% url 'platform:account' %}" 
                class="
                    py-2 px-4 w-full block hover:bg-primary rounded-lg hover:text-white
                    {% if request.path == '/platform/account/me/' %}bg-primary hover:bg-primary-hover text-white{% endif %}"
                >
                Аккаунт
            </a>
        </li>
        <li>
            <a 
                href="{% url 'platform:settings' %}" 
                class="
                    py-2 px-4 w-full block hover:bg-primary rounded-lg hover:text-white
                    {% if request.path == '/platform/account/settings/' %}bg-primary hover:bg-primary-hover text-white{% endif %}
                "
            >
                Баптаулар
            </a>
        </li>
    </ul>

    <ul class="flex md:hidden w-full font-medium text-center">
        <li class="whitespace-nowrap">
            <a 
                href="{% url 'platform:account' %}" 
                class="p-2 border-b-4 {% if request.path == '/platform/account/me/' %}border-b-4 border-primary{% else %}border-transparent{% endif %}"
            >
                Аккаунт
            </a>
        </li>
        <li>
            <a 
                href="{% url 'platform:settings' %}" 
                class="p-2 border-b-4 {% if request.path == '/platform/account/settings/' %}border-b-4 border-primary{% else %}border-transparent{% endif %}"
            >
                Баптаулар
            </a>
        </li>
    </ul>

    <div class="flex-1">
        {% block account_layout %}
        {% endblock account_layout %}
    </div>
</div>
{% endblock platform_layout %}